<h1>Hi <%=@employee.name%></h1>

<p>Your Expense Details are attached below</p>

<table>
    <tr>
        <th>Status</th>
        <th>Amount</th>
    </tr>
    <%@result.each do |status, amount|%>
        <tr>
            <td><%=status.capitalize%></td>
            <td><%=amount%></td>
        </tr>
    <%end%>
    
    
</table>



<h5>Regards and Thanks</h5>
<p>Chandan Thakur</p>
<p>Admin Team</p>

<h1>This mail is auto generated</h1>